body {
    background-color: black;
}

div {
    margin: auto;
    width: 500px;
    position: absolute;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -250px;
}
.date {
    letter-spacing:0.1em;
    font-size:18px;
    color: #8B0A50;
    text-decoration: none;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
a:hover{
    color: red;
}